.center {
    margin-left: auto;
    margin-right: auto;
}

body{
    color: orange;
}
table, th{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
    width: 50%;
    height: 25%;
}
td {
    font-family: "Bernard MT Condensed";
    font-size: x-large;
    color: crimson;
    border-collapse: collapse;
    padding: 15px;
    width: 50%;
    height: 75%;
}
td {
    font-family: "Berlin Sans FB";
    font-size: x-large;
}
td {
    text-align: center;
}

.error {
    margin: 200px 100px 150px 200px;
    font-size: x-large;
    color: crimson;
    font-family: Calibri;
}