<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Quote</title>
</head>
<body>

 <br>
 <table  class="center">
     <tr >
         <th>Inspirational Quotes for today <div>
             <script>
                 date = new Date().toLocaleDateString();
                 document.write(date);
             </script>
         </div></th>
     </tr>
     <tr>
         <td> </td>
     </tr>
               <tr>
      <td style=" color:darkgreen"><span th:text="${QuoteOfToday}"></span></td>
     </tr>
     <tr>
        <td  style="font-size: medium"><div>
            <script>
                document.write("-");
            </script>
        </div ><span th:text="${Author}"></span></td>
     </tr>
 </table>
<br>
 <br>
 <hr>
 <table style=" border: 1px solid beige;  width: 100%; "  >
     <caption style="color: darkmagenta; font-size: larger;align: left">Similar Quotes</caption>
     <tr>
         <th>Quote</th>
         <th>By</th>
         <th>Likes</th>
     </tr>
     <tr>
         <td style=" color:darkgreen"><span th:text="${QuoteOfToday}"></span></td>
         <td ><span th:text="${Author}"></span></td>
     </tr>
 </table>
</body>
</html>